<div id="body">
	<div class="body__top"></div>
	
	<form id="auth-block" class="tab-box text-center" method="post">
		<section class="app">
			<div class="container"><div class="app__content">

				<div class="row">
					<div class="col-md-1 fld-title">Логин</div>
					<div class="col-md-6 fld-input"><input type="text" name="login"></div>
				</div>
				<div class="row">
					<div class="col-md-1 user-title">E-mail</div>
					<div class="col-md-6 fld-input"><input type="password" name="password"></div>
				</div>

			</div></div>
		</section>

		<section class="app">
			<div class="container"><div class="app__content">

				<div class="row">
					<div class="col-md-7 user-title">
						<div id="auth" class=""><button type="button" class="btn btn-primary">Войти</button></div>
					</div>
				</div>
				
			</div></div>
		</section>
	</form>

</div>