<div id="body">
	<div class="body__top"></div>
	
	<form id="task-add-block" class="tab-box" method="post">
		<section class="app">
			<div class="container"><div class="app__content">

				<div class="row">
					<div class="col-md-2 fld-title">Имя</div>
					<div class="col-md-5 fld-input"><input type="text" name="name"></div>
				</div>
				<div class="row">
					<div class="col-md-2 user-title">E-mail</div>
					<div class="col-md-5 fld-input"><input type="text" name="email"></div>
				</div>
				<div class="row">
					<div class="col-md-2 user-title">Задача</div>
					<div class="col-md-10 fld-input"><textarea name="text" rows="10"></textarea></div>
				</div>

			</div></div>
		</section>

		<section class="app">
			<div class="container"><div class="app__content">
				<div id="task_save" class="text-center"><button type="button" class="btn btn-primary">Сохранить</button></div>
			</div></div>
		</section>
	</form>

</div>